td{
	background-color: #fff;
	border:5px solid #000;
	cursor: pointer;
	width: 100px;
	height: 100px;
	font-size: 36px;
	font-weight: bold;
}
td:hover{
	background-color: #F2F3F4;
}
.red{
	background-color: red;
}
#sq1,
#sq2,
#sq3{
	border-top: none;
}
#sq1, 
#sq4,
#sq7{
	border-left: none;
}
#sq7, 
#sq8,
#sq9{
	border-bottom: none;
}
#sq3, 
#sq6,
#sq9{
	border-right: none;
}

