body{
	background-image: url("https://marleyva233.github.io/tictactoe/img/paws.png");
	background-position: top center;	
	background-repeat: repeat;
}
td{
	background-color: #fff;
	border:5px solid #000;
	cursor: pointer;
	width: 100px;
	height: 100px;
	font-size: 36px;
	font-weight: bold;
}
td:hover{
	background-color: #F2F3F4;
}
.X{
	color: red;
}
.O{
	color: blue;
}
.winner{
	background-color: yellow;
}
#sq1,
#sq2,
#sq3{
	border-top: none;
}
#sq1, 
#sq4,
#sq7{
	border-left: none;
}
#sq7, 
#sq8,
#sq9{
	border-bottom: none;
}
#sq3, 
#sq6,
#sq9{
	border-right: none;
}